<hello name="{{ name }}"></hello>

<p>
	{{isTrue}}
</p>

<p>
	{{multiply}}
</p>

<p>
	{{timesSkydive}}
</p>

<p>
	{{subtract}}
</p>

<p>
	{{favFruit}}
</p>

<p>
	{{jason.firstName}} {{jason.lastName}}
</p>

<p>
	{{family}}
</p>

<!-- Property Binding -->
<a href="{{url}}">{{linkText}}</a>

<br>

<button (click)='clickAlert()'>Submit</button>



<p [class] ="color">
  Iserting text...to change text color using a button event
</p>

<!-- Event Binding -->
<button (click)='changeColor()'>Change Text Color</button>

