p {
  font-family: Lato;
  width: 100%;
  background-color: yellow;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  text-align: center;
}

button {
  padding: 10px 15px;
  border: none;
  text-align: center;
  background-color: turquoise;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

